*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header img{
    width: 132px;

}
.sign{
    width: 104px;
    height: 43px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #21B573;
    color: #fff;
    
}
.button{
    width: 153px;
    height: 43px;
    border-radius: 30px;
    border: none;
    background-color: #21B573;
    color: white;
}
.section-1{
    margin-top: 150px;
}
.section-1 .row{
    justify-content: space-between;
    display: flex;
    font-family: 'Poppins', sans-serif
}
.section-1 .row p{
    color: rgba(0, 0, 0, 0.4);
    line-height: 33px;
}
.section-1 .row p:nth-child(1){
    color: #FD511A;
    ;
}
.section-1 .row h1{
    font-weight: bold;
}
.color{
    color: #21B573;
    font-size: 50px;
    
}
.head{
    background-color: #F0FFF0;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.books{
    width: 20%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background:  #F8FFFB;
    border-radius: 5px;

}
.books:nth-child(2){
    background: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.books img{
    width: 70px;
    margin: 20px;
}
.books h2{
    font-size: 24px;
    font-weight: 500;
    width: 176px;
    text-align: center;
}
.books p{
    font-size:1rem;

}
.section-2 .row {
    display: flex;
    justify-content: space-evenly;
}
.section-2 {
    margin-bottom: 100px;
}
.bottom img{
    width: 20px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin: 15px 5px;
}
#course{
    margin-bottom: 50px;
}
#course h1{
    text-align: center;
    font-size: 40px;
    margin:40px;
}
.course{
    border: none;
    outline: none;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    
}
.course p{
    color: rgba(0, 0, 0, 0.4);
}
.card-img{
    width: 80%;
    margin: 20px;
    margin-left: 40px;
}
.section-4{
    
    margin: 100px 0;
    height: 500px;
    display: flex;
    align-items: center;
   
    
}
.section-4 h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;

}
.section-4 .container .row {
    width: 70%;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 250px;
   
}
.section-4 .man img{
    width: 100px;
}
.test-text{
     color: rgba(0, 0, 0, 0.5);
     
}
footer{
    background-color: #282531;
    color: rgb(223, 223, 223);
    padding: 70px 0;
}
footer .row{
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;

}
footer h4{
    font-size: 1rem;
    font-weight: bold;
}
@media only screen and (max-width:768px){
    .section-4 .container .row {
        width: 100%;
        margin-left: -20px;
        
       
       
    }
    .test-text{
        margin-top: 40px;
        text-align: center;
    }
    
}
@media only screen and(min-width:769){
    .section-4 .container .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly ;
        
        
       
       
    }
    .test-text{
        
       padding-left: 50px;
    }

}